/*====== common style ======*/

/* link gg font */

/* link gg font */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    min-width: 320px;
}

body {
    font-weight: 400;
    line-height: 1.4;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    overflow-y: hidden;
}

a {
    text-decoration: none;
    color: unset;
    transition: 0.2s;
}

a:hover {
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
    margin: 0px;
}

img {
    display: block;
    width: 100%;
    transition: .2s;
}

p,
span,
ul,
li,
a,
div,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

input,
textarea,
select,
button {
    outline: none;
}

input {
    line-height: normal;
}

label,
button {
    cursor: pointer;
    outline: none;
    border: none;
}

label:focus,
button:focus {
    outline: none;
}


.container {
    /* custum */
    max-width: 1416px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

header {
    width: 100%;
    padding-top: 43px;

}



.header-shop.is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s ease-in;
    padding-top: 10px;
    background: #ffffff;
    z-index: 100;
    padding-bottom: 20px;
    padding-top: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

.is-sticky .list-product {
    display: none;
}

.header__inner {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: auto;
}

.header-home {
    display: flex;
    align-items: flex-start;
    width: 77%;
    padding-right: 6.8%;
    justify-content: space-between;

}

.menu-icon {
    display: block;
    padding: 0px 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-right: 25px;
    display: none;
}

.menu-icon span {
    display: block;
    width: 31px;
    height: 1px;
    background: #000000;
    margin: 9px 0px;
}

.header-search {
    width: 65.3%;
    margin-left: 22px;
}

.form__search {
    display: flex;
    align-items: center;
    font-size: 12px;
    width: 100%;
    position: relative;
}

.input-search {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: rgba(203, 96, 136, 0.15);
    padding: 12px 11px;
    border-radius: 15px;
}

.input-search::placeholder {
    font-size: 12px;
    color: #818181;
}

.icon-search {
    outline: none;
    border: none;
    padding: 9.5px 22px;
    background: #FFAEB4;
    top: 0;
    right: 0;
    position: absolute;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    cursor: pointer;
    height: 100%;
}

.list-product {
    display: flex;
    font-size: 12px;
    color: #818181;
    column-gap: 15px;
    margin-top: 7px;
}

.header__home-right {
    display: flex;
    align-items: center;
    flex: 1;
    padding-top: 5px;
    justify-content: space-between;
}

.header-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    column-gap: 15px;
    margin-right: 25px;
    white-space: nowrap;
}

.header-information {
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 25px;
    column-gap: 25px;
    border-left: 1px solid #000000;
}

.header-information a {
    width: 30px;
}


/* end header */

.section-boshop {
    width: 100%;
}

.section-boshop__content {
    padding: 32px 0px 54px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: auto;
    column-gap: 14px;
}

.boshop-center {
    padding-right: 6px;
}

.boshop-left {
    width: 22.4%;
}

.left-list {
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    padding-right: 11px;

}

.menu__hair {
    width: 100%;
    padding-bottom: 8px;
    border-bottom: 1px solid #00000026;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
}

.menu__hair img {
    width: 27px;
}

.logo-text {
    display: flex;
    align-items: center;
    column-gap: 18px;
}


.shampoo p {
    font-size: 16px;
    font-weight: 500;
}

.shampoo ul {
    padding-left: 10px;
    font-size: 16px;
}

.header-inner {
    position: relative;
}

.boshop-left.what {
    position: absolute;
    left: 0;
    top: 100%;
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
    padding: 20px;
    background: #ffffff;
    transition: 0.25s ease-in;
    width: 100%;
    z-index: 1000;
}

.header-search.blook {
    display: none;
}

/* end header */

.footer-end {
    display: flex;
    width: 100%;
    align-items: flex-start;
    padding-top: 32px;
    padding-bottom: 52px;
    justify-content: space-between;
}

.information {
    width: 30%;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.text-h5 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    white-space: nowrap;
}

.img-logo img {
    max-width: 271px;
}

.information p {
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
}

.svg-maxwidth {
    font-weight: 500;
    line-height: 28px;
    display: flex;
    column-gap: 13px;
}

.svg-maxwidth img {
    max-width: 28px;
}

.about-us {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding-left: 10px;
    padding-right: 10px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.footer-list li a {
    white-space: nowrap;
}

.register {
    display: flex;
    align-items: center;
    background: #C83F51;
    border-radius: 10px;
    max-width: 237px;

}

.register input {
    outline: none;
    padding: 10px 10px;
    border: 1px solid #818181;
    background: #fff;
    border-radius: 10px;
    font-size: 14px;
    width: 153px;
}

.register input::placeholder {
    font-size: 14px;
    color: #818181;
}

.register button {
    outline: none;
    border: none;
    background: none;
    padding: 10px;
    white-space: nowrap;
    height: 100%;
    color: #fff;
    cursor: pointer;
}

.pay {
    display: flex;
    align-items: center;
    column-gap: 7.5px;
    margin-bottom: 15px;
}



/* 
reponsive */

@media only screen and (max-width: 1240px) {

    .header-home {
        flex-wrap: wrap;
        row-gap: 20px;
        justify-content: flex-start;
    }

    .sup-list {
        column-gap: 5%;
    }

    .header-search {
        width: 100%;
        margin-left: 0px;
    }

    .menu-icon {
        display: block;
    }

    .menu-icon.active span:first-child {
        transform-origin: top left;
        transform: translate(4px, -1px) rotate(45deg);
        transition: 0.25s ease-in;
    }

    .menu-icon.active span:nth-child(2) {
        transform-origin: top left;
        opacity: 0;
    }

    .menu-icon.active span:last-child {
        transform: translate(4px, 1px) rotate(-45deg);
        transform-origin: top left;
        transition: 0.25s ease-in;

    }

    .boshop-left.why {
        display: none;
    }

    .boshop-left.what.show {
        display: block;
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }

    .boshop-left {

        min-width: 280px;
    }

    .footer-end {
        flex-wrap: wrap;
        row-gap: 30px;
    }

    .header-search.search-none {
        display: none;
    }

    .header-search.blook {
        margin-top: 15px;
        display: block;
    }
}
@media only screen and (max-width: 1200px){
    .header-home {
        padding-right: 3%;
    }
}

@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 900px) {
    .logo-text {
        width: 44%;
    }
}

@media only screen and (max-width: 768px) {
    .information {
        width: 50%;
    }

    .header-search.blook {
        margin-top: 20px;
    }
    .menu-icon {
        margin-right: 13px;
    }


    .header-information {
        border: none;
    }

    .header-shop.is-sticky{
        padding: 15px 0px;
    }
    .menu-icon span{
        width: 22px;
        margin: 7px 0px;
    }
    .header-home a img{
        width: 200px;
    }
    .menu-icon.active span:first-child {
        transform-origin: top left;
        transform: translate(3px, 0px) rotate(45deg);
        transition: 0.25s ease-in;
    }
    .menu-icon.active span:last-child {
        transform-origin: top left;
        transform: translate(3px, 0px) rotate(-45deg);
        transition: 0.25s ease-in;
    }

}   

@media only screen and (max-width: 479px) {
    .information {
        width: 100%;
    }

    .register input {
        width: 100%;
    }

    .register {
        width: 100%;
        max-width: unset;
    }

    .about-us.width {
        width: 100%;
    }

    .certification {
        width: 180px;
    }

    .header-information {
        padding-left: 15px;
    }

    header {
        padding-top: 0px;
    }

    .header__inner {
        padding-top: 20px;
    }

    .is-sticky .header__inner {
        padding-top: 0;
    }
    .header-information{
        column-gap: 16px;
        padding: 0px 0px 0px 16px;
    }

    .input-search{
        padding: 8px 11px;
    }
    .header__inner{
        align-items: center;
    }
    .header-information a {
        width: 20px;
    }

    .header-phone a svg rect {
        width: 24px;
        height: 24px;
    }

    .header-home a img {
        width: 168px;
    }

    .menu__hair{
        width: 100%;
    }
    .header-home {
        padding-right: 5px;
    }
    .header-home{
        width: unset;
    }
    .header__home-right{
        justify-content: flex-end;
    }

}

@media only screen and (max-width: 429px) {
    .list-product p a {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    .img-product img {
        width: 220px;
        object-fit: cover;
    }

    .img-product a {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header-information {
        column-gap: 15px;
    }

    .header-home {
        padding-right: 5px;
    }

    .header__home-right {
        justify-content: flex-end;
    }

    .header__inner {
        padding-top: 20px;
    }
}

@media only screen and (max-width: 400px){
    .header-home a img{
        width: 140px;
    }
    .menu-icon{
        margin-right: 10px;
    }
    .menu-icon span{
        width: 15px;
        margin: 6px 0px;
    }

    .menu-icon.active span:last-child{
        transform: translate(2px, -3px) rotate(-45deg);
        transform-origin: top left;
        transition: 0.25s ease-in;
    }
    .menu-icon.active span:first-child{
        transform-origin: top left;
        transform: translate(2px, 1px) rotate(45deg);
        transition: 0.25s ease-in;
    }

    .header-phone a svg {
        width: 20px !important;
        height: 20px !important;
    }
    .header-information a{
        width: 16px;
    }
    .header-information{
        column-gap: 12px;
        padding-left: 12px;
    }
    .header__home-right{
        align-items: flex-start;
    }
}

/* 
Homepage with navigation bar */


/* Collection page */

.menu-icon.blook {
    display: block;
    margin-right: 15px;
    cursor: pointer;
}

.menu-icon.blook.active span:first-child {
    transform-origin: top left;
    transform: translate(4px, -1px) rotate(45deg);
    transition: 0.25s ease-in;

}

.menu-icon.blook.active span:nth-child(2) {
    transform-origin: top left;
    opacity: 0;
}

.menu-icon.blook.active span:last-child {
    transform: translate(4px, 1px) rotate(-45deg);
    transform-origin: top left;
    transition: 0.25s ease-in;

}

.header__inner {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}

.boshop-left.apsolous {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
    transition: 0.25s ease-in;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding-left: 20px;
    background: #fff;
    padding-right: 10px;
}

.boshop-left.apsolous.show {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}


.header-home.right {
    padding-right: 2.8%;
}

.header-search.width {
    width: 70.5%;
}

.left-list.may {
    width: 100%;
    background: #ffffff;
    position: relative;
    padding-top: 20px;
}

.left-list.may .menu__hair {
    width: 22%;
}

.list-menu.may {
    display: flex;
    align-items: flex-start;
    opacity: 0.4;
    transition: 0.25s;
}

.sup-list.may {
    position: absolute;
    left: 22%;
    top: 0;
    opacity: 0;
    visibility: hidden;
    box-shadow: unset;
    width: 78%;
    flex-wrap: wrap;
    column-gap: 5%;
}

.list-menu.may:hover .sup-list.may {
    opacity: 1;
    visibility: visible;
}

.list-menu.may:hover {
    opacity: 1;

}

.section__product {
    width: 100%;
}

.product__head-skin {
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding-top: 30px;
}

.head-skin__left {
    width: 22%;
}

.left-shampoo {
    padding-bottom: 14px;
    border-bottom: 1px solid #EDEDED;
    width: 80%;
}

.left-shampoo h2 {
    width: 65%;
}

.product__cotegory {
    padding-top: 17px;
    width: 80%;
    border-bottom: 1px solid #EDEDED;
    padding-bottom: 49px;
}

.cotegory-h3 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;

}

.cotegory-h3 h3 {
    font-size: 16px;
}

.input-label {
    margin-bottom: 10px;
    font-weight: 500;
}

.input-label input {
    margin-right: 10px;
}

.price-two {
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin-bottom: 26px;
}

.product__cotegory.two {
    padding-bottom: 26px;
}

.price-two span {
    width: 111px;
    height: 39px;
    border: 1px solid #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product__cotegory.ther {
    padding-bottom: 12px;
}

.cotegory-checkbook.ther {
    height: 382px;
    overflow-y: scroll;
}

.cotegory-checkbook.ther::-webkit-scrollbar {

    width: 2px;
    background: gray;
}

/* Track */
.cotegory-checkbook.ther::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.cotegory-checkbook.ther::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.cotegory-checkbook.ther::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.cotegory-checkbook.ther::-webkit-scrollbar-thumb:horizontal {
    background: #000;
    border-radius: 10px;
}

.buton-apply button {
    outline: none;
    border: none;
    cursor: pointer;
    background: #E26B14;
    color: #ffffff;
    padding: 12px 90px;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.25s ease-in;
    margin-top: 10px;
}

.buton-apply button:hover {
    background: #fff;
    color: #E26B14;
    box-shadow: 0px 0px 10px #E26B14;
}

.head-skin__right {
    width: 78%;
    display: flex;
    flex-direction: column;
}

.img-head__skin {
    height: 430px;
}

.img-head__skin img {
    height: 100%;
}

.arrange {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #EDEDED;
    padding-bottom: 12px;
    margin-top: 32px;
}

.arrange p {
    margin-right: 15px;
    font-size: 16px;
    font-weight: 600;
}

.arrange__one {
    margin-right: 26px;
    font-size: 16px;
    position: relative;
    transition: 0.25s;
}

.arrange__one:hover {
    color: #E26B14;
}

.arrange__one.active {
    color: #E26B14;
}

.arrange__one.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -12px;
    height: 1px;
    width: 100%;
    background: #E26B14;
    transition: 0.25s;
}

.arrange__one::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -12px;
    height: 1px;
    width: 100%;
    background: #E26B14;
    opacity: 0;
    visibility: hidden;
    transition: 0.25s;
}

.arrange__one:hover::before {
    opacity: 1;
    visibility: visible;

}

.head__skin-one {
    width: 100%;
}

.head-skin__slider {
    padding-top: 12px;
    width: 100%;
    padding-bottom: 50px;
}

.head__skin-one__list {
    display: flex;
    align-items: center;
    width: 100%;
    column-gap: 8px;
    margin-bottom: 16px;
}

.product-item.max-list {
    width: 270px;
}

.swiper-pagination-bullet {
    width: 32px;
    height: 32px;
    background: none;
    font-size: 14px;
    text-align: center;
    padding: 5px;
    opacity: 1;
    border-radius: 4px;
}

.swiper-pagination-bullet:hover {
    border: 1px solid #818181;
    color: #E26B14;
}

.swiper-backface-hidden .swiper-slide {
    padding-bottom: 30px;
}

.section-hotdeal h2 {
    font-size: 24px;
    margin-bottom: 23px;
}

.section-hotdeal.hotsize {
    padding-bottom: 18px;
}