/*======== style for all page ========*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    min-width: 320px;
}

body {
    font-weight: 400;
    line-height: 1.4;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    overflow-y: hidden;
}

a {
    text-decoration: none;
    color: unset;
    transition: 0.2s;
}

a:hover {
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
    margin: 0px;
}

img {
    display: block;
    width: 100%;
    transition: .2s;
}

p,
span,
ul,
li,
a,
div,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

input,
textarea,
select,
button {
    outline: none;
}

input {
    line-height: normal;
}

label,
button {
    cursor: pointer;
    outline: none;
    border: none;
}

label:focus,
button:focus {
    outline: none;
}


.container {
    /* custum */
    max-width: 1416px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}


.section-boshop {
    width: 100%;
}

.section-boshop__content {
    padding: 32px 0px 54px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: auto;
    column-gap: 14px;
}

.boshop-center {
    padding-right: 6px;
}

.boshop-center a img {
    object-fit: cover;
    border-radius: 10px;
}


.boshop-left {
    width: 22.4%;
}

.left-list {
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    position: relative;
    padding-right: 11px;

}

.menu__hair {
    width: 100%;
    padding-bottom: 8px;
    border-bottom: 1px solid #00000026;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
}

.menu__hair img {
    width: 27px;
}

.logo-text {
    display: flex;
    align-items: center;
    column-gap: 18px;
}

.sup-list {
    position: absolute;
    left: 100%;
    top: 0;
    display: flex;
    padding: 20px;
    background: #fff;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    column-gap: 10%;
    width: 345%;
    line-height: 34px;
    opacity: 0;
    visibility: hidden;
    transition: 0.25s;
    min-height: 100%;
}


.shampoo p {
    font-size: 16px;
    font-weight: 500;
}

.shampoo ul {
    padding-left: 10px;
    font-size: 16px;
}

.list-menu:hover .sup-list {
    opacity: 1;
    visibility: visible;
}

/* end section boshop */

.categories-content {
    width: 100%;
    padding-bottom: 23px;
}

.categories-content ul {
    display: flex;
    align-items: stretch;
}

.categories-list {
    width: calc(100% / 10);
    min-height: 121px;
}

.categories-list a {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    row-gap: 11.57px;
    padding: 5px;
}

.categories-list a p {
    width: 100%;
    text-align: center;
    white-space: nowrap;
}

.categories-list a img {
    width: 63.75px;
}

/* end section categories-content */

.section-hotdeal {
    width: 100%;
    padding-bottom: 61px;
}

.hotdeal-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background: #E26B14;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    margin-bottom: 7.25px;
}

.hotdeal-banner {
    display: flex;
    align-items: center;
    column-gap: 18px;
}

.banner-left {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.banner-left p {
    font-size: 20px;
    font-weight: 600;
    color: #fff;

}

.banner-left img {
    width: 31.7px;
}

.banner-right {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.banner-right p {
    padding-right: 10px;
}

.banner-right span {
    font-size: 12px;
    color: #000;
    padding: 6.5px 7.5px 4.5px 7.5px;
    background: #fff;
    border-radius: 10px 10px 10px 0px;
    margin-right: 10px;
}

.right-end {
    margin-right: 10px;
    padding-left: 15px;
    border-left: 1px solid #fff;
}

.hotdeal-seemore a {
    padding: 6.25px 23px;
    background: #B8D77A;
    border-radius: 10px 10px 10px 0px;
    font-size: 14px;
    transition: 0.2s;
}

.hotdeal-seemore a:hover {
    background: #fff;
    box-shadow: 0px 0px 30px #B8D77A;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    content: none;
}

.swiper-button-next,
.swiper-button-prev {
    width: 48px;
}

.product-item {
    display: block;
}

.free-ship {
    display: flex;
    padding-left: 10px;
    width: 100%;
    font-size: 10px;
    font-weight: 500;
    color: #fff;
    column-gap: 4px;
    margin-bottom: 8px;
}

.free-ship p {
    padding: 3.5px 16px;
    background: #07234E;
    border-radius: 10px;
}

.free-ship span {
    padding: 3.5px 6px;
    background: #BB2200;
    border-radius: 10px;
}

.contai-pading {
    padding-left: 10px;
    padding-right: 10px;
}

.BNBG h4 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
}

.BNBG p {
    margin-bottom: 7px;
}

.item-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.price h3 {
    font-size: 16px;
    font-weight: 600;
    color: #6B1D14;

}

.price h4 {
    color: #848484;
    font-size: 14px;
    font-weight: 400;
    text-decoration: line-through;
}

.discount {
    font-size: 10px;
    font-weight: 800;
    color: #fff;
    padding: 10px 1px;
    background: #BBD66A;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.evaluate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 5px;
}

.evaluate-left {
    display: flex;
    align-items: center;
}

.star {
    display: flex;
    align-items: center;
    font-size: 10px;
    padding-right: 10px;

}

.star p {
    margin-left: 3px;
}

.cart {
    display: flex;
    font-size: 10px;
    padding-left: 10px;
    column-gap: 5px;
    border-left: 1px solid #333333;
}

.time-seo {
    display: flex;
    align-items: center;
    padding-right: 6px;
    background: #F5C5A5;
    border-radius: 5px;
    justify-content: space-between;
    font-size: 8px;
    color: #ffffff;
    margin-top: 8px;
}

.time-seo p {
    background: #F06A26;
    padding-right: 15px;
    height: 100%;
    padding: 2.5px 15px 2.5px 6px;
    border-radius: 5px;
}

.donate {
    padding: 0px 6px;
    width: 100%;
    font-size: 12px;
    border: 1px dashed #F06A26;
    margin-top: 5px;
    color: #F06A26;
}

/* end section-hotdeal */

.section__cotegory-product {
    width: 100%;
}

.cosmetology {
    width: 100%;
}

.cosmetology h2 {
    font-size: 20px;
    font-weight: 600;
}

.list-cosmetolory {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-top: 31px;
    flex-wrap: wrap;
    row-gap: 25px;
}

.cosmetolory-item {
    width: calc(100% / 7 - 20px);
}

.cosmetolory-item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cosmetolory-item a img {
    background: #dfe0e1;
    border-radius: 15px;
    max-width: 143px;
    object-fit: cover;
}

.item-product {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    text-align: center;
    row-gap: 6px;
    margin-top: 5px;
}

.item-product p {
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
}

.item-product span {
    font-size: 12px;
    color: #AAAAAA;
}

/* end .section__cotegory-product */

.section-trademark {
    width: 100%;
}

.tab-product {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.trademark-boshop {
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 90px;
    padding-bottom: 53px;
}

.trademark-left {
    width: 22%;
}

.trademark-left h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
    line-height: 40px;
    width: 80%;
}

.trademark-left a {
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-size: 13px;
    column-gap: 5px;
    color: #4E6FB0;
}

.trademark-left a:hover {
    color: #D65F1D;
}

.trademark-left a:hover svg path {
    fill: #D65F1D;
}

.trademark-right {
    width: 63%;
    margin: 0 auto;
    margin-right: 60px;
}

.trademark-product a p {
    padding: 0px 5px;
}

.trademark-product a {
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 17px;
    font-size: 16px;
    font-weight: 500;
}

/* end .section-trademark */

.section-new {
    width: 100%;
}

.text-h2.one {
    font-size: 24px;
    font-weight: 600;
    line-height: 28.6px;
    width: 20%;
}

.text__new-product {
    display: flex;
    width: 100%;
    align-items: flex-start;
    margin-bottom: 22px;
}

.make-up {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 80%;
    column-gap: 13px;
}

.make-up a {
    padding: 5px 15px;
    background: #EEEEEE;
    border-radius: 10px;
    font-size: 12px;
}

.make-up p {
    padding: 5px 15px;
    background: #EEEEEE;
    border-radius: 10px;
    font-size: 12px;
    cursor: pointer;
}

.make-up a:hover {
    color: #ffffff;
    background: #D65F1D;
    box-shadow: 0px 0px 30px #D65F1D;
}

.make-up a:nth-child(1) {
    background: #D65F1D;
    color: #fff;
}

.make-up p:hover {
    color: #ffffff;
    background: #D65F1D;
    box-shadow: 0px 0px 30px #D65F1D;
}

.tab-mekup.active {
    background: #D65F1D;
    color: #ffffff;
}

.buy-now {
    width: 100%;
    display: flex;
    padding-bottom: 37px;
}

.buy-now__left {
    width: 28%;
}

.buy-now__right {
    width: 72%;
    margin-left: 0px;
}

.product-item.one {
    width: calc(100% / 4 - 13px);
    margin-bottom: 25px;
}

.home-slider__mekeup {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
}

.see-more__two {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.see-more__two a {
    padding: 3px 15px 3px 22px;
    border: 1px solid #D65F1D;
    border-radius: 10px;
    color: #D65F1D;
}

.see-more__two a:hover {
    background: #D65F1D;
    color: #ffffff;
    box-shadow: 0px 0px 30px #D65F1D;
}

.see-more__two a:hover svg path {

    fill: #ffffff;
}

/* end .section-new */

.section__best-seller {
    width: 100%;
    padding-top: 61px;
    padding-bottom: 32px;
}

.best-seller-list {
    width: 100%;
    display: none;
}

.best-seller-list.show {
    display: block;
}

.best-seller__list {
    display: flex;
    align-items: center;
    row-gap: 10px;
    column-gap: 8px;
    flex-wrap: wrap;
    padding-bottom: 15px;
}

.best-seller__list li {
    width: calc(100% / 5 - 7px);
}

/* end section__best-seller */

.delivery {
    width: 100%;
    background: #FFF5F5;
    height: auto;
}

.list-delivery {
    display: flex;
    align-items: stretch;
    padding-top: 27px;
    padding-bottom: 28px;
}

.list-delivery li {
    width: calc(100% / 4 - 0px);
}

.list-delivery li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    justify-content: center;
    text-align: center;
}

.list-delivery li a p {
    font-size: 16px;
    font-weight: 500;
    margin-top: 16px;
    margin-bottom: 8px;
    width: 100%;
}

.list-delivery li a span {
    font-size: 14px;
    width: 80%;
}

.list-delivery li a img {
    max-width: 64px;
}

.benner.logo-book {
    display: none;
}

.banner {
    display: block;
}

.text__new-product a img {
    display: none;
}



@media only screen and (max-width: 1240px) {
    .menu__hair {
        width: 22%;
        min-width: 210px;
    }

    .sup-list {
        left: 23%;
        width: 78%;
        flex-wrap: wrap;
        column-gap: 5%;
    }

}

/* end section */

@media only screen and (max-width: 1200px) {
    .menu__hair {
        font-size: 14px;
        white-space: nowrap;
    }

    .left-list {
        row-gap: 10px;
    }



    .logo-text {
        padding-right: 5px;
    }

    .categories-list a {
        font-size: 12px;
    }

    .cosmetolory-item {
        width: calc(100% / 7 - 15px);
    }

    .text__new-product>a {
        display: none;
    }
}

@media only screen and (max-width: 1024px) {
    .categories-content ul {
        flex-wrap: wrap;
    }

    .categories-list {
        width: calc(100% / 5);
    }


    .sup-list {
        flex-wrap: wrap;
        position: unset;
        opacity: 1;
        visibility: visible;
        z-index: 100000;
        width: 100%;
        box-shadow: unset;
        display: none;
        overflow-y: scroll;
        height: 400px;
    }

    .sup-list::-webkit-scrollbar {
        width: 2px;
        background: gray;
    }

    /* Track */
    .sup-list::-webkit-scrollbar-track {
        background: #f1f1f1;

    }

    /* Handle */
    .sup-list::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    .sup-list::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .sup-list::-webkit-scrollbar-thumb:horizontal {
        background: #B8B8B8;
        border-radius: 10px;
    }



    .list-menu.active .sup-list {
        display: block;
    }

    .swiper,
    swiper-container {
        z-index: 0;
    }

    .boshop-left {
        width: 100%;
        z-index: 1;
    }

    .trademark-boshop {
        flex-direction: column;
        row-gap: 16px;

    }

    .trademark-left {
        width: 100%;
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .trademark-right {
        width: 100%;
    }

    .list-cosmetolory {
        min-width: 1024px;
        overflow-x: scroll;
    }

    .tab-product {
        overflow-x: scroll;
    }

    .item-product p {
        white-space: unset;
    }

    .tab-product::-webkit-scrollbar {
        height: 2px;
        background: gray;
    }

    /* Track */
    .tab-product::-webkit-scrollbar-track {
        background: #f1f1f1;

    }

    /* Handle */
    .tab-product::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    .tab-product::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .tab-product::-webkit-scrollbar-thumb:horizontal {
        background: #B8B8B8;
        border-radius: 10px;
    }

    .product-item.one.none {
        display: none;
    }

    .product-item.one {
        width: calc(100% / 3 - 13px);
    }

    .best-seller__list li {
        width: calc(100% / 4 - 7px);
    }

    .slider-button.for.you {
        display: none;
    }

}

@media only screen and (max-width: 991px) {
    .buy-now {
        flex-direction: column;
        row-gap: 30px;
    }

    .buy-now__left a:nth-child(1) {
        display: none;
    }

    .buy-now__left {
        width: 100%;
    }

    .buy-now__right {
        width: 100%;
    }

    .text__new-product {
        flex-direction: column;
        width: 100%;
        align-items: center;
        row-gap: 30px;
        text-align: center;
    }

    .text__new-product>a {
        width: 100%;
        display: block;
    }

    .text__new-product a img {
        display: block;
        max-width: 500px;
        margin: 0 auto;
    }

    .text-h2.one {
        width: 100%;
    }

    .make-up {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .best-seller__list li {
        width: calc(100% / 3 - 7px);
    }

    .banner a {
        display: none;
    }
}

@media only screen and (max-width: 768px) {

    .container {
        padding: 0px 10px;
    }

    .container.boshop-left.what {
        padding: unset;
    }


    .tell {
        display: none;
    }

    .header-information {
        border: none;
    }

    .header-phone {
        margin: 0;
    }

    .list-product p:nth-child(5),
    .list-product p:nth-child(6) {
        display: none;
    }

    .benner.logo-none {
        display: none;
    }

    .header-search.search-none {
        display: none;
    }

    .header-search.blook {
        margin-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }


    .banner-left p span {
        display: none;
    }

    .banner-right .right-end {
        display: none;
    }

    .banner-right {
        padding-left: 16px;
        border-left: 1px solid #ffffff;
    }

    .benner.logo-book {
        display: block;
    }

    .list-delivery {
        flex-wrap: wrap;
        row-gap: 20px;
    }

    .list-delivery li {
        width: calc(100% / 2 - 0px);
    }

    .BNBG p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .donate p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    .price {
        column-gap: 5px;
    }

    .categories-list a p {
        white-space: unset;
    }

    .product-item.one.none {
        display: block;
    }

    .product-item.one {
        width: calc(100% / 2 - 8px);
    }

    .best-seller__list li {
        width: calc(100% / 2 - 6px);
    }

    .menu__hair {
        min-width: 250px;
    }

}

@media only screen and (max-width: 479px) {
    .boshop-right {
        display: none;
    }

    .banner-left p {
        font-size: 16px;
    }

    .hotdeal-banner {
        column-gap: 5px;
    }

    .section-boshop__content {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .section-hotdeal {
        padding-bottom: 30px;
    }

    .cosmetology h2 {
        text-align: center;
    }

    .trademark-left h2 {
        font-size: 28px;
        width: 100%;
    }

    .buy-now {
        row-gap: 5px;
    }

    .categories-list a img {
        width: 37px;
    }

    .categories-list {
        min-height: 96px;
    }

    .list-cosmetolory {
        justify-content: unset;
        column-gap: 32px;
        margin-top: 10px;
    }

    .cosmetolory-item {
        width: 89px;
    }

    .cosmetolory-item a {
        height: 100%;
    }

    .item-product span {
        white-space: nowrap;
        flex: 1;
        display: flex;
        align-items: flex-end;
    }

    .trademark-product {
        width: 99px;
    }

    .trademark-product a {
        font-size: 14px;
    }

    .banner {
        display: none;
    }

    .section__best-seller {
        padding-top: 0px;
    }

    .boshop-center {
        padding-right: 0px;
    }

}

@media only screen and (max-width: 429px) {
    .banner-left p {
        font-size: 12px;
    }

    .hotdeal-seemore a {
        white-space: nowrap;
        padding: 6.5px 15px;
    }

    .banner-right {
        padding-left: 10px;
    }

    .banner-right span {
        margin-right: 5px;
    }

    .banner-right p {
        padding-right: 5px;
    }

    .banner-left img {
        width: 24px;
    }

    .product-item.one {
        width: calc(100% / 1);
    }

    .trademark-product {
        width: unset;
    }

    .trademark-boshop {
        padding-top: 50px;
    }

    .best-seller__list li {
        width: calc(100% / 1);
    }

    .list-delivery li {
        width: calc(100% / 1);
    }

    .list-delivery li a span {
        width: 100%;
    }

    .categories-list a {
        font-size: 11px;
    }
}

/* reponsive Collection-page */

@media only screen and (max-width: 1204px) {
    .product-item.max-list .price {
        column-gap: 10px;
    }

    .product__cotegory {
        width: 90%;
    }

    .buton-apply button {
        padding: 12px 60px;
    }
}

@media only screen and (max-width: 1024px) {
    .sup-list.may {
        width: 76%;
        left: 25%;
    }

    .head-skin__left {
        display: none;
    }

    .product__head-skin {
        display: block;
    }

    .filter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 21px;
        flex-wrap: wrap;
        position: relative;
    }

    .filter h2 {
        font-size: 20px;
    }

    .filter__right {
        display: flex;
        align-items: center;
        column-gap: 8px;
    }

    .filter__right p {
        font-size: 16px;
        font-weight: 500;
        white-space: nowrap;
    }

    .head-skin__right {
        width: 100%;
    }

    .img-head__skin {
        height: unset;
    }

    .filter__menu {
        position: absolute;
        top: 100%;
        right: -20px;
        background: #ffffff;
        width: 70%;
        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
        padding-top: 0px;
        border-radius: 10px 10px 0px 0px;
        z-index: 1000;
        opacity: 0;
        visibility: hidden;
        transform: translateX(100%);
        transition: 0.25s ease-in;

    }

    .filter__menu.show {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }

    .cotegory-checkbook.ther {
        overflow-y: unset;
        height: auto;
    }

    .filter__menu::before {
        content: '';
        width: 0;
        height: 0;
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-bottom: 20px solid #ffffff;
        position: absolute;
        top: -20px;
        left: 97%;
        margin-left: -20px;
    }

    .filter__scool {
        display: block;
        width: 97%;
        height: 100vh;
        overflow-y: scroll;
        padding-left: 30px;
        padding-right: 10px;
    }

    .filter__scool::-webkit-scrollbar {
        width: 2px;
        background: gray;
    }

    /* Track */
    .filter__scool::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    .filter__scool::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    .filter__scool::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .filter__scool::-webkit-scrollbar-thumb:horizontal {
        background: #000;
        border-radius: 10px;
    }


    .buton-apply.max {
        width: 100%;

    }

    .buton-apply.max button {
        width: 100%;

    }
}

@media only screen and (max-width: 991px) {
    .sup-list.may {
        position: unset;
        width: 100%;
    }

    .list-menu.may {
        flex-direction: column;
    }

    .left-list.may .menu__hair {
        width: 100%;
    }

    .head-skin__slider {
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 16px;
        padding-bottom: 0px;
    }

    .numerical-order {
        margin-top: 27px;
    }


    .product-item.max-list {
        width: calc(100% / 2 - 10px);
    }
}

@media only screen and (max-width: 768px) {
    .logo-text {
        width: 13%;
    }

    .menu-icon.blook.active span:last-child {
        transform: translate(3px, -1px) rotate(-45deg);
        transform-origin: top left;
        transition: 0.25s ease-in;
    }

    .arrange {
        display: none;
    }

    .arrange.two {
        display: flex;
        width: 100%;
        text-align: center;
        justify-content: space-between;
        margin-top: 20px;
    }

    .arrange__one {
        width: 100%;
        margin: 0;
        position: relative;
        font-weight: 500;
    }

    .list__arrange {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        width: 100%;
        position: absolute;
        top: 160%;
        left: 0;
        background: #ffffff;
        padding: 7px 13px;
        border-radius: 5px;
        box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
        font-size: 16px;
        opacity: 0;
        height: auto;
        visibility: hidden;
        transition: 0.25s ease-in;
    }

    .arrange__one:hover .list__arrange {
        opacity: 1;
        visibility: visible;
        color: #333333;
    }

    .list__arrange li:hover {
        color: #D65F1D;
    }

    .list__arrange {
        width: 120%;
        left: -7px;
    }
}

@media only screen and (max-width: 479px) {
    .list-product p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    .BNBG p {
        font-size: 16px;
    }

    .product-item.max-list .price {
        column-gap: 8px;
    }

    .section-hotdeal h2 {
        text-align: center;
        font-size: 20px;
    }

    .numerical-order {
        display: none;
    }

    .see-more__two.marin {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-top: 20px;
        margin-bottom: 40px;
    }

    .see-more__two.marin a {
        padding: 3px 11px 3px 11px;
    }

    .list-delivery li a img {
        width: 36px;
        height: 36px;
    }

    .list-delivery li a span {
        width: 90%;
        font-size: 12px;
    }

    .list-delivery li a p {
        font-size: 14px;
    }

    .list-delivery li a {
        padding: 0;
    }

    .header-search.blook {
        padding: 0;
    }

    .head-skin__slider {
        justify-content: unset;
    }

    .product-item.max-list {
        width: calc(100% / 2 - 4px);
    }
}


@media only screen and (max-width: 429px) {
    .product-item.max-list {
        width: calc(100% / 1 - 4px);
    }
}

@media only screen and (max-width: 400px) {
    .menu-icon.blook.active span:first-child {
        transform-origin: top left;
        transform: translate(3px, 1px) rotate(45deg);
        transition: 0.25s ease-in;
    }

    .menu-icon.blook.active span:last-child {
        transform: translate(2px, -2px) rotate(-45deg);
        transform-origin: top left;
        transition: 0.25s ease-in;
    }
}

/* end collection-page */

.list__home-page {
    margin-top: 24px;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    background: #F5F6F9;
    width: 100%;
    padding: 7px 13px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #5D5D5D;
}

.section-Cleansing {
    width: 100%;
}

.Cleansing__home {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Cleansing__home-left {
    width: 48%;
}

.swiper-button-next.width,
.swiper-button-prev.width {
    width: 10px;
    z-index: 1000;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.Cleansing__home-right {
    width: 48%;
}

.water-description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
}

.ther-in1 {
    font-size: 20px;
    font-weight: 500;
}

.evaluate-left.one {
    margin-top: 18px;
}

.star.one {
    font-size: 16px;
    font-weight: 500;
}

.cart.one {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;

}

.cart.one img {
    width: 14px;
}

.cart.one p {
    font-size: 16px;
    font-weight: 500;
    padding-right: 20px;
    border-right: 1px solid #000;
    margin-right: 20px;
}

.cart.one span {
    margin-left: 9px;
}

.free-ship.pro {
    margin-top: 22px;
    column-gap: 12px;
    font-size: 14px;
    font-weight: 500;
    padding: 0;
}

.free-ship.pro p {
    padding: 3px 19.5px;
}

.free-ship.pro span {
    padding: 0px 10px;
    display: flex;
    align-items: center;
}

.price.pro {
    column-gap: 11px;
}

.price.pro h3 {
    font-size: 28px;
    font-weight: 600;
}

.price.pro h4 {
    font-size: 16px;
}

.item-price.pro {
    justify-content: flex-start;
    column-gap: 11px;
}

.discount.pro {
    width: 36px;
    height: 36px;
}

.capacity {
    margin-top: 16px;
}

.text-red {
    color: #6B1D14;
    font-weight: 500;
}

.capacity ul {
    display: flex;
    column-gap: 24px;
    margin-top: 7px;
}

.capacity__list {
    display: flex;
    align-items: center;
    background: #781919;
    border-radius: 5px;
    height: 36px;
    border: 1px solid #781919;
}

.capacity__list.active {
    background: #F5F6F9;
    border: 1px solid #F5F6F9;
}

.capacity__list img {
    padding: 3px 10px;
    background: #ffffff;
    border-radius: 5px;
    border: 1px solid #781919;

}

.capacity__list p {
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    padding: 8px 13px;
}

.capacity__list.active p {
    color: #000;
}

.capacity__list.active img {
    border: 1px solid #F5F6F9;
}

.quantity {
    margin-top: 16px;
    font-size: 14px;
    font-weight: 500;
}

.counter {
    margin-top: 10px;
    display: flex;
    column-gap: 8px;
}

.counter span {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F5F6F9;
    border-radius: 5px;
    cursor: pointer;
}

.counter input {
    outline: none;
    width: 36px;
    height: 36px;
    padding: 5px;
    border-radius: 5px;
    border: 1.5px solid #F5F6F9;
   text-align: center;
  
}

.buy__now {
    display: flex;
    align-items: center;
    column-gap: 25px;
    margin-top: 60px;
}

.buy__now a {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    padding: 13px 20px;
    border-radius: 10px;
}

.buy__now a:hover{
    opacity: 0.8;
}

.buy__now a:nth-child(1) {
    background: #6B1D14;
    color: #ffffff;
}

.buy__now a:nth-child(2) {
    padding: 13px 36px;
    background: #BBD66A;
    color: #ffffff;
    border: 1px solid #EBFF00;
    color: #000;
}

.buy__now a:nth-child(3) {
    border: 1px solid #781919;
    font-weight: 500;
    color: #781919;
}

.buy__now a img {
    width: 16px;
    margin-right: 5px;
}

.official {
    width: 100%;
}

.official__water {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.water__left {
    width: 80%;
    font-size: 16px;
}

.water__left-tab {
    display: flex;
    align-items: center;
}

.tab__list {
    padding: 14px 40px;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    transition: 0.25s ease-in;
}

.water__left-tab {
    margin-bottom: 21px;
}

.tab__list:hover {
    color: #EE6F2E;
}

.tab__list::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 1.5px;
    width: 100%;
    background: #EE6F2E;
    opacity: 0;
    visibility: hidden;
    transition: 0.25s ease-in;
}

.tab__list:hover:before {
    opacity: 1;
    visibility: visible;
}

.tab__list.active {
    color: #EE6F2E;
}

.tab__list.active::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 1.5px;
    width: 100%;
    background: #EE6F2E;
}

.water__left p {
    margin-bottom: 30px;
}

.water__left-click {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
}

.water__left-click.show {
    display: block;
}

.water__left-click a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.water__left-click a img {
    max-width: 691px;
    margin-bottom: 40px;
}

.text__top {
    width: 100%;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
}

.text__top p {
    padding-left: 22px;
    position: relative;
    margin-bottom: 0;
    z-index: -1;
}

.text__top p::before {
    content: '';
    position: absolute;
    left: 10px;
    top: 10px;
    width: 3px;
    height: 3px;
    background: #000;
    border-radius: 50%;
    z-index: -1;
}

.text__top.liegengh {
    background: linear-gradient(360deg, rgba(255, 252, 252, 0.88) 37.54%, rgba(217, 217, 217, 0) 95.37%);
}

.see-more__two.liegengh {
    margin-top: -10px;
    margin-bottom: 35px;
}

.parameter {
    width: 100%;
    margin-bottom: 46px;
    font-weight: 500;
}

.parameter h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

.ingredient {
    width: 100%;
    font-size: 16px;
    line-height: 28px;
}


table,
tr,
td {
    border: 0.5px solid #F4F4F4;
}

tr {
    height: 35px;
}

td {
    padding-left: 20px;
}

.text__top h3 {
    margin-bottom: 10px;
}

.text__top.see {
    margin-bottom: 29px;
}

.text__top.use {
    margin-bottom: 49px;
}

.CSKH-Boshop {
    width: 100%;
}

.CSKH-Boshop h3 {
    margin-bottom: 35px;
}

.numerical-order.kip {
    margin-top: 35px;
}

.numerical-order.kip ul li p {
    margin: 0;
}

.water__right {
    width: 18%;
    display: flex;
    flex-direction: column;
    
}

.water__right h3 {
    font-size: 16px;
}

.head-skin__slider.jol {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.product-item.max-list.line {
    width: 100%;
}